mat-card{
    background:	#C2175B;
    margin-bottom: 2em;
}
mat-card-subtitle{
    color:#a9acad;
}

.product{
min-width: 280px;
height: 400px;
text-align: center;
color:white;
}
    
.product img{
height: 150px;
object-fit: contain;
}

p{
    text-align: justify;
}
